---
title: Fringe
slug: fringe events
description: The events taking place in Dublin, before and after the conference
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <h1 class="center">Fringe Events</h1>

        <h2 class="center">April 9th</h2>
        <p>This year we're warming up for Úll with a very special dinner at a secret location in Dublin's city centre.</p>

        <p>We have arranged a special rate of €180 for Úll guests the <a href="https://www.radissonblu.com/en/royalhotel-dublin?facilitator=CSOSEO">Radisson Blu Royal Hotel</a>. Simply call the hotel on +353-1-8982929 and use the reference Úll Conference.</p>

        <p>Alternatively, you can stay a hotel of your choice in the city centre. We recommend staying somewhere central, close to Stephens Green, George's Street or Christ Church.</p>


        <h2 class="center">April 12th</h2>

        <p>The wind-down event will take place at the beautiful Finnstown Castle in Lucan, Dublin. We have a special rate of €110 B&B for Úll guests. Simply call the hotel on +353 (0)1 601 0700 to avail of the offer.</p>





        {% include footer.html %}
