---
title: Participate
slug: participate
description: Details about applying to speak at Úll, or prepare a presentation.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <h1 class="center">Participation</h1>


        <p>Last year, for the first time, we had an open a call for submissions to perform at Úll. The response was fantastic and the result was a line-up rich with varied life experiences, performance styles and areas of expertise. It allowed us to bring you a collection of speakers that pushed beyond the expected, celebrating a beautiful balance of fresh faces and friendly familiars.</p>

        <p>This year, we want to extend that invitation again.</p>

        <p>We are opening a call for submissions for three types of presentation:</p>

        <ul class="left">
          <li class="square">Storytelling</li>
          <li class="circle">Classic</li>
          <li class="triangle">Special Feature</li>
        </ul>

        <p>The theme this year is, simply, “The Future”.</p>

        <h3 class="left">Storytelling</h3>

        <p>This is a magical part of the programme. The brief is simple: We are looking for folks to tell a 10 minute story about “The Future”. This isn’t a typical presentation, rather a performance. There are no slides or elaborate visuals- just you and the audience.</p>

        <p>Could you tell a tale that will delight folks? Do you have some novel insight or pearls of wisdom to share? Could you bring us on an adventure or just plain old inspire us? If so, we’d like to hear from you.</p>

        <p><a href="">Apply to tell a story.</a></p>

        <h3 class="left">Classic</h3>

        <p>These presentations form the backbone of the conference. Guided by the theme of ‘The Future’, we want you to share your experience and insight. This year, we’ll once again be placing these under the banner of ‘The Builders’ and each presentation will last roughly 10-15 minutes. Presenters can follow a more traditional presentation format or get creative with slides, visuals and props.</p>

        <p>Are you building an exciting new app? Have you learned valuable lessons while creating your product or building your business? Have you some interesting forecasts or predictions you’d like to share? If so, we’d like to hear from you.</p>

        <p><a href="">Apply to present on The Builder’s track.</a></p>

        <h3 class="left">Special Feature</h3>

        <p>The presentation format for introverts</p>

        <p>The Úll Special Feature is an idea we have developed over the last few years. In a nutshell, rather than give you a stage and a timeslot, we give you a room and invite you to set it up with your presentation.</p>

        <p>A Special Feature can be a regular conference talk that you record that attendees can walk in and watch. Or it could be an art installation that teaches attendees about hardware hacking. Or it could be a time machine that takes attendees back to their childhood and forward into old age.</p>

        <p>Can you create an experience that folks will remember long after the conference is over? Can you build an interactive installation? Prepare a talk that you pre-record? Do something completely original? If so, we’d like to hear from you.</p>

        <p><a href="">Apply to present a Special Feature.</a></p>

        <h3 class="left">The Package</h3>

        <p>For anyone who presents at Úll, we will provide:</p>

        <ul class="left">
          <li class="circle">A travel allowance for flights</li>
          <li class="triangle">A full free ticket to the conference</li>
          <li class="square">Up to 2 nights accommodation at The Europe Hotel and Spa Resort (lakeview room with balcony)</li>
          <li class="circle">Up to 2 nights accommodation in Dublin for the Fringe events</li>
          <li class="triangle">Train transportation to and from Killarney if you arrive in Dublin</li>
        </ul>

        <h3 class="left">Support</h3>

        <p>All storytellers and feature presenters will have access to The Europe the day before and the morning of the conference to test out the AV, walk the stage, or set up their space.</p>

        <p>We want everyone who presents at Úll to feel supported. We are happy to work with you on preparing your story or feature. Things we could help with:</p>

        <ul class="left">
          <li class="trianle">Brainstorming ideas</li>
          <li class="square">Finding a mentor</li>
          <li class="circle">Figuring out and budgeting for any additional AV requirements</li>
          <li class="triangle">Arranging suitable rehearsal time</li>
          <li class="square">Providing a volunteer to help with your feature</li>
          <li class="circle">As much mutual support as we can muster</li>
        </ul>

        <p>We’re here to support you in any way we can. Presentations form the structural core of a conference, and we want ours to be as strong as it can be.</p>

        <p>Applications will be open until February 17, 2017</p>

{% include footer.html %}
