---
title: Presenters
slug: participate
description: The storytellers and feature presenters
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <div class="presenters">
          <h1 class="center">Presenters</h1>

          <h2 class="center">Special Guests</h2>



          <!-- <div class="flexbox"> -->

            <div class="presenter">
              <div class="speaker-circle christina"></div>
              <h3 class="">Christina Warren</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="presenter">
              <div class="speaker-circle lopp"></div>
              <h3 class="">Michael Lopp</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="presenter">
              <div class="speaker-circle horace"></div>
              <h3 class="">Horace Dediu</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          <!-- </div> -->

          <h2 class="center">Special Features</h2>

          <!-- <div class="flexbox"> -->
            <div class="presenter">
              <div class="speaker-circle jason"></div>
              <h3 class="">Jason Snell</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="presenter">
              <div class="speaker-circle chadwick"></div>
              <h3 class="">Chadwick Severn</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          <!-- </div> -->

          <h3 class="center and-more">And more to come..</h3>

          <h2 class="center">Storytellers</h2>

          <!-- <div class="flexbox"> -->
            <div class="presenter">
              <div class="speaker-circle ben"></div>
              <h3 class="">Ben Norris</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="presenter">
              <div class="speaker-circle quinn"></div>
              <h3 class="">Quinn Rose</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="presenter">
              <div class="speaker-circle nicole"></div>
              <h3 class="">Nicole Klein</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          <!-- </div> -->

          <h3 class="center and-more">And more to come..</h3>
        </div>
      </div>

{% include footer.html %}
