---
title: Presenters
slug: participate
description: The storytellers and feature presenters
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <div class="presenters">
          <h1 class="center">Presenters</h1>

          <h2 class="center">Special Guests</h2>

          <div class="presenter">
            <div class="speaker-circle christina"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/film_girl">Christina Warren</a></h3>
              <p>Christina is a prominant figure in the world of tech journalism. She worked as a Senior Correspondant at Mashable and now writes at Gizmodo. She's a host on numerous podcasts and real pop culture geek</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle lopp"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/rands">Michael Lopp</a></h3>
              <p>With vast industry experience traversing Borland, Apple, Palantir, and recently <a href="https://slack.com">Slack</a>, Michael (or Rands)tech leadership knowledge is deep. He is the author of two books on engineering management.</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle horace"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/asymco">Horace Dediu</a></h3>
              <p>Horace’s keynotes have lighted up all but one Úll. He has a unique insight into Apple as a company, but also as a cultural phenomenon. Horace writes <a href="http://www.asymco.com">Asymco</a></p>
            </div>
          </div>


          <h2 class="center">Special Features</h2>

          <div class="presenter">
            <div class="speaker-circle jason"></div>
            <div class="bio">
              <h3 class="">Jason Snell</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle chadwick"></div>
            <div class="bio">
              <h3 class="">Chadwick Severn</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>


          <h3 class="center and-more">And more to come..</h3>

          <h2 class="center">Storytellers</h2>

          <div class="presenter">
            <div class="speaker-circle ben"></div>
            <div class="bio">
              <h3 class="">Ben Norris</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle quinn"></div>
            <div class="bio">
              <h3 class="">Quinn Rose</h3>
              <p>Quinn is a rising star in the podcasting world and a prolific YouTuber, and she does it around her college schedule. In the last year she’s launched two shows about politics, pop culture and student life.

                Quinn is a rising star in the podcasting world and a prolific YouTuber, and she does it around her college schedule. In the last year she’s launched two shows about politics, pop culture and student life.</p>
              </div>
            </div>

            <div class="presenter">
              <div class="speaker-circle nicole"></div>
              <div class="bio">
                <h3 class="">Nicole Klein</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>



          </div>


        </div>
<h3 class="center and-more">And more to come..</h3>



        {% include footer.html %}
