---
title: Presenters
slug: participate
description: The storytellers and feature presenters
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="/">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <div class="presenters">
          <h1 class="center">Presenters</h1>

          <h2 class="center">Special Guests</h2>

          <div class="presenter">
            <div class="speaker-circle christina"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/film_girl">Christina Warren</a></h3>
              <p>Christina is a prominant figure in the world of tech journalism. She worked as a Senior Correspondant at Mashable and now writes at Gizmodo. She's a host on numerous podcasts and real pop culture geek</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle lopp"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/rands">Michael Lopp</a></h3>
              <p>With vast industry experience traversing Borland, Apple, Palantir, and recently <a href="https://slack.com">Slack</a>, Michael (or Rands)tech leadership knowledge is deep. He is the author of two books on engineering management.</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle horace"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/asymco">Horace Dediu</a></h3>
              <p>Horace’s keynotes have lighted up all but one Úll. He has a unique insight into Apple as a company, but also as a cultural phenomenon. Horace writes <a href="http://www.asymco.com">Asymco</a></p>
            </div>
          </div>


          <h2 class="center">Special Features</h2>

          <div class="presenter">
            <div class="speaker-circle chadwick"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/ChadwickSevern">Chadwick Severn</a></h3>
              <p>Chadwick is a Canadian web and app developer with a flair for mischief and a very dry wit. He is the creator of NotesKey and the genius behind the Apple Design Studio Escape Room.</p>
            </div>
          </div>


          <h3 class="center and-more">And more to come..</h3>

          <h2 class="center">Storytellers</h2>

          <div class="presenter">
            <div class="speaker-circle ben"></div>
            <div class="bio">
              <h3 class=""><a href="https://twitter.com/bsndesign">Benjamin Norris</a></h3>
              <p>Ben is Senior iOS Developer at Tanner Labs in Salt Lake City, where he lives with his family. When he’s not on stage, you’ll find him producing some of the most creative sketchnotes out there.</p>
            </div>
          </div>

          <div class="presenter">
            <div class="speaker-circle quinn"></div>
            <div class="bio">
              <h3 class="">Quinn Rose</h3>
              <p>Quinn is a rising star in the podcasting world and a prolific YouTuber, and she does it around her college schedule. In the last year she’s launched two shows about politics, pop culture and student life.

                Quinn is a rising star in the podcasting world and a prolific YouTuber, and she does it around her college schedule. In the last year she’s launched two shows about politics, pop culture and student life.</p>
              </div>
            </div>

            <div class="presenter">
              <div class="speaker-circle nicole"></div>
              <div class="bio">
                <h3 class=""><a href="nicki_23">Nicole Klein</a></h3>
                <p>Based in LA, Nicki is a software engineer and Co-founder of Betagig. She and her partner funded the job shadowing platform by winning the 2016 Launch Hackathon Awards.</p>
              </div>
            </div>



          </div>


        </div>
<h3 class="center and-more">And more to come..</h3>



        {% include footer.html %}
