---
title: Schedule
slug: schedule
description: The Úll schedule, including details of the optional shoulder events, and the details of timings for the conference days.
builders: false
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <div class="schedule">
          <h1 class="center">Schedule</h1>

          <div class="illustration train-image"></div>

          <div class="scheule-day">
            <h2 class="center">Úll Day 1</h2>
            <h3 class="light center">April 10th</h3>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">11:00</h4>
            <h4 class="light">Train Departs Heuston Station</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">14:00</h4>
            <h4 class="light">Arrivals at The Europe</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">17:30</h4>
            <h4 class="light">Family Dinner</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">19:00</h4>
            <h4 class="light">Opening</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">19:45</h4>
            <h4 class="light">Stories</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">21:30</h4>
            <h4 class="light">Goodnight</h4>
          </div>

          <div class="illustration stage-image"></div>

          <div class="scheule-day">
            <h2 class="center">Úll Day 2</h2>
            <h3 class="light center">April 11th</h3>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">10:00</h4>
            <h4 class="light">Keynote</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">10:30</h4>
            <h4 class="light">Builders</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">12:30</h4>
            <h4 class="light">Lunch</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">13:30</h4>
            <h4 class="light">Special Features</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">17:00</h4>
            <h4 class="light">Lightning Talks</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">19:30</h4>
            <h4 class="light">Banquet Dinner</h4>
          </div>

          <div class="schedule-event">
            <h4 class="schedule-time">21:00</h4>
            <h4 class="light">Closing Remarks</h4>
          </div>

          <div class="scheule-day">
            <h2 class="center">Úll Fringe</h2>
          </div>

          <p>Úll Fringe is our optional activities that take place before and after the conference. This year, our fringe events will take place in Dublin.</p>

          <div class="flexbox">
            <div class="fringe">
              <div class="illustration dinner-image"></div>

              <div class="scheule-day">
                <h3 class="light center">April 9th</h3>
              </div>

              <div class="schedule-event">
                <h4 class="schedule-time">19:00</h4>
                <h4 class="light">Optional Pre-Dinner</h4>
              </div>
            </div>

            <div class="fringe">
              <div class="illustration hike-image"></div>

              <div class="scheule-day">
                <h3 class="light center">April 12th</h3>
              </div>

              <div class="schedule-event">
                <h4 class="schedule-time">12:00</h4>
                <h4 class="light">Train departs Killarney</h4>
              </div>

              <div class="schedule-event">
                <h4 class="schedule-time">19:00</h4>
                <h4 class="light">Optional Wind-down dinner in Dublin</h4>
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
