---
title: Sponsors
slug: sponsors
description: This years sponsors and supporters
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <h1 class="center">Sponsors</h1>

        <h3 class="center">Our headline sponsor</h3>

        <div class="flexbox">
          <div class="sponsor macpaw"></div>
        </div>

        <p class="center sponsor-caption">Úll wouldn’t be possible without help from some of the best people in the industry.</p>

        <div class="flexbox">
          <div class="sponsor emojipedia"></div>
          <div class="sponsor gf-smith"></div>
          <div class="sponsor nextjournal"></div>
          <div class="sponsor github"></div>
          <div class="sponsor threefe"></div>
        </div>

        <p class="center eagran-caption">And friends of the show, our Eagran supporters</p>

        <h3 class="center">Jeremy Burge</h3>
        <h3 class="center">Myke Hurley</h3>
        <h3 class="center">Marco Arment</h3>
        <h3 class="center">Sean Langly</h3>
        <h3 class="center">Aron Nyberg Allen</h3>
        <h3 class="center">Jeremy Hinegardner</h3>

        {% include footer.html %}
