---
title: Sponsors
slug: sponsors
description: This years sponsors and supporters
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <h1 class="center">Sponsors</h1>

        <h3 class="center">Our headline sponsor</h3>

        <div class="flexbox">
          <a href="http://macpaw.com"><div class="sponsor macpaw"></div></a>
        </div>

        <p class="center sponsor-caption">Úll wouldn’t be possible without help from some of the best people in the industry.</p>

        <div class="flexbox">
          <a href="http://emojipedia.org"><div class="sponsor emojipedia"></div></a>
          <a href="https://www.gfsmith.com"><div class="sponsor gf-smith"></div></a>
          <a href="https://nextjournal.com"><div class="sponsor nextjournal"></div></a>
          <a href="https://github.com"><div class="sponsor github"></div></a>
          <a href="https://www.3fe.com"><div class="sponsor threefe"></div></a>
        </div>

        <p class="center eagran-caption">And friends of the show, our Eagrán supporters</p>

<a href="https://twitter.com/jeremyburge"><h3 class="center">Jeremy Burge</h3></a>
<a href="https://twitter.com/imyke"><h3 class="center">Myke Hurley</h3></a>
<a href="https://twitter.com/marcoarment"><h3 class="center">Marco Arment</h3></a>
<a href="https://twitter.com/smlangley"><h3 class="center">Sean Langly</h3></a>
<a href=""><h3 class="center">Aron Nyberg Allen</h3></a>
<a href="https://twitter.com/copiousfreetime"><h3 class="center">Jeremy Hinegardner</h3></a>

        {% include footer.html %}
