---
title: Logistics
slug: tickets
description: The various Úll ticketing options, including regular tickets, all-inclusive tickets, tickets for students, scholarships, and sponsorship.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>


  <div class="content-column">

    <a href="index.html">
      <picture class="logo">
        <source media="(max-width: 500px)" srcset="images/ull-outline-mobile.png">
          <source media="(min-width: 500px)" srcset="images/ull-outline-mobile.png">
            <img src="images/ull-outline.png" alt="Logo">
          </picture>
        </a>

        <h1 class="center">Tickets</h1>


        <p>Please enter your email address on our ticket page to be notified when tickets go on sale. Full ticket info and pricing is below.</p>

        <p>The core Úll conference happens on the days of April 10 and 11. It consists of:</p>

        <h3 class="left">First day (Monday April 10th):</h3>

        <ul class="left">
          <li>Buffet-style dinner</li>
          <li>Opening session</li>
          <li>Stories</li>
        </ul>

        <h3 class="left">Second day (Tuesday April 11th):</h3>

        <ul class="left">
          <li>Keynote Address</li>
          <li>Builders Track</li>
          <li>Buffet-style lunch</li>
          <li>Special Features</li>
          <li>Lightning Talks</li>
          <li>Gala dinner</li>
          <li>Closing session</li>
        </ul>

        <p></p>

        <p>
          A standard Úll ticket gives you access to all of these sessions and meals, and will cost €649.
        </p>

        <h2 class="left">Fringe events</h2>

        <p>
          This year we’re hosting our pre and post conference events in Dublin. These are completely optional and ticketed separately from the main event. We organise these fringe events so that you have extra time to spend with speakers and friends old and new. The pre-conference event (Speaker’s Dinner) is €149 and the Wind-Down is €79. These fees mainly cover the organising costs, and don't include accommodation
        </p>

        <h3 class="left">April 9th</h3>
        <p>This year we're warming up for Úll with a very special dinner at a secret location in Dublin's city centre.</p>

        <p>We have arranged a special rate of €180 for Úll guests the <a href="https://www.radissonblu.com/en/royalhotel-dublin?facilitator=CSOSEO">Radisson Blu Royal Hotel</a>. Simply call the hotel on +353-1-8982929 and use the reference Úll Conference.</p>

        <p>Alternatively, you can stay a hotel of your choice in the city centre. We recommend staying somewhere central, close to Stephens Green, George's Street or Christ Church.</p>


        <h3 class="left">April 12th</h3>

        <p>The wind-down event will take place at the beautiful Finnstown Castle in Lucan, Dublin. We have a special rate of €110 B&B for Úll guests. Simply call the hotel on +353 (0)1 601 0700 to avail of the offer.</p>

        <h3 class="left">All-inclusive options</h3>

        <p>
          As we have exclusive-use of the hotel, only Úll attendees can stay in the hotel for the 2 conference nights. Rooms are exclusively available through us for those two nights.
        </p>

        <p>
          We can accommodate double rooms, single rooms and twin rooms for those who wish to share. If you opt for a shared room, you can opt for someone to share with, or we will match you with someone.
        </p>

        <p>
          Accommodation in the Europe is €200 per night, so conference plus accommodation is €999 in a private room, €849 in a shared room.
        </p>

        <p>
          Accommodation for the fringe events should be booked separately. Since the events are taking place in Dublin City Centre, there are plenty of options for accommodation. However, we do have some rooms on hold at the Radisson Blu Royal Hotel and Finnstown Castle which have a special price for Úll attendees. If you would like to avail of the offers, simply call the hotel and mention Úll when booking. Please note, they can only hold rooms at this price until 8 March 2017.
        </p>

        <h3 class="left">Eagrán</h3>

        <p>
          The Eagrán ticket is our supporters ticket. It consists of 4 nights accommodation (2 in Dublin and 2 in Killarney), admission to the conference as well as admission to pre and post conference events. You’ll also be named as one of our supporting sponsors on our website.</p>

          <h3 class="left">Significant Others</h3>

          <p>
            We provide partner tickets to allow your partner to attend all Úll sessions. These are priced at €149 for the two conference days. There is no extra cost for a partner to share a room.
          </p>

          <h3 class="left">Students and Unemployed</h3>

          <p>
            Students and currently unemployed folks can attend Úll for the reduced rate of €299, as long as they can provide details of their student or employment status.
          </p>

          <h3 class="left">Diversity Scholarships</h3>

          <p>
            We will be opening applications for a certain number of grants to support members from underrepresented groups attending Úll. Please join the mailing list on our ticket page if you’d like to be kept in the loop.
          </p>

          <h3 class="left">Úll Kids</h3>

          <p>
            Úll also has a children’s track, and the hotel has family rooms and conjoining rooms.The Europe also provides a number of complimentary activities for kids.If you have any questions simply get in touch and we’ll accommodate you.
          </p>

          <p>
            An Úll Kids ticket is €49, which just covers meals and attendance. We cover the cost of the children’s track activities and this year, we’re looking for a sponsor. If you’re interested in sponsoring the kids track, please get in touch.
          </p>

          {% include footer.html %}
