<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Úll 2017</title>
<link href="css/style.css" rel="stylesheet">
<script src="https://use.typekit.net/cye5xxq.js"></script>
<script src="js/ull.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<meta name="description" content="{{ page.description }}">
<meta name="robots" content="index, follow">
<meta name="author" content="Úll Conferences Limited">

<meta property="og:title" content="Úll 2016">
<meta property="og:site_name" content="Úll">
<meta property="og:url" content="http://2017.ull.ie">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:type" content="business.business">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ullconf">
<meta name="twitter:title" content="Úll 2016">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image:src" content="http://2016.ull.ie/images/queue-1.jpg">